<div class="socials">
    <div class="social-link">
        <a href="{{site.socials.github}}" target="_blank">
            <img src="/assets/github.png" width="26px" />
        </a>
    </div>
    <div class="social-link">
        <a href="{{site.socials.linkedin}}" target="_blank">
            <img src="/assets/linkedin.png" width="26px" />
        </a>
    </div>
    <div class="social-link">
        <a href="mailto:{{site.email}}">
            <img src="/assets/email.png" width="26px" />
        </a>
    </div>
    <div class="social-link">
        <a href="/assets/Jin Xian Yap, CV.pdf" target="_blank">
            <img src="/assets/cv.png" width="26px" />
        </a>
    </div>
</div>