<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container-content">
        {{ content }}
    </div>
</body>

<script src="assets/js/three.r119.min.js"></script>
<script src="assets/js/vanta.waves.min.js"></script>
<script>
    VANTA.WAVES({
                el: "body",
                mouseControls: true,
                touchControls: true,
                gyroControls: false,
                minHeight: 200.00,
                minWidth: 200.00,
                scale: 1.00,
                scaleMobile: 1.00,
                color: '#34525f'
})
</script>

</html>